
@{
	ViewData["Title"] = "TestDisplay";
}

<h2> CURRENT USER EMAIL @User.Identity.Name</h2>

<h3>CURRENT USER ID IS @ViewBag.Id.Id</h3>

<h3>IS USER AN ADMING?!?!?!!? @ViewBag.IsAdmin</h3>

<h3>IS USER SUPERING?!?!?!!? @ViewBag.IsSuper</h3>


<ul>
	@{
		<li>Universities for @User.Identity.Name </li>

		foreach (var Uni in ViewBag.Unis)
		{
			<li>@Uni.UniName  @Uni.UniDesc   @Uni.UniLocation  @Uni.NumStudents    @Uni.UniEmail   </li>
		};
		

	}

</ul>
