@model IEnumerable<COP4710_V2.Models.University>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UniName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UniDesc)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UniLocation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NumStudents)
			</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumStudents)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UniName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UniName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UniName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
