@model IEnumerable<COP4710_V2.Models.PubEvents>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublicEvent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PublicEvent.EventId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublicEventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublicEventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublicEventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
