@model IEnumerable<COP4710_V2.Models.Comments>

@{
    ViewData["Title"] = "Index";
}

<h2>Comments for Event @ViewBag.EventName</h2>


<p>
	<a asp-controller="Comments" asp-action="Create" asp-route-id="@ViewBag.EventId">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Comment
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rating) Stars
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Timestamp)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Text)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rating)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Timestamp)
			</td>
			<td>
				@{
					if(String.Equals(ViewBag.CurrentUserId,item.UserId))
					{
						<a asp-area="" asp-action="Edit" asp-route-id="@item.CommentId">Edit</a>

					}
				}
			</td>
		</tr>
		}
	</tbody>
</table>

<div>
	<a asp-area="" asp-controller="Events" asp-action="Index">Back to Events</a>
</div>
