@model IEnumerable<COP4710_V2.Models.Events>

@{
	ViewData["Title"] = "List of Events";
}

<h2>List Of Public Events</h2>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.EventName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartDay)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartMonth)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EventDesc)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Category)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ContactPhone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ContactEmail)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Location)
			</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@item.EventName
				</td>
				<td>
					@item.StartTime
				</td>
				<td>
					@item.StartDay
				</td>
				<td>
					@item.StartMonth
				</td>
				<td>
					@item.EventDesc
				</td>
				<td>
					@item.Category
				</td>
				<td>
					@item.ContactPhone
				</td>
				<td>
					@item.ContactEmail
				</td>
				<td>
					@item.Location.LocationName
				</td>
				<td>
					<a asp-area="" asp-controller="Comments" asp-action="Index" asp-route-id="@item.EventId">View Comments</a>
				</td>
			</tr>
		}
	</tbody>


</table>
<br /><br />
<h2>List Of Private Events For @ViewBag.UserUniversityId</h2>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.EventName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartDay)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartMonth)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EventDesc)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Category)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ContactPhone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ContactEmail)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Location)
			</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in ViewBag.PrivateEvents)
		{
			<tr>
				<td>
					@item.EventName
				</td>
				<td>
					@item.StartTime
				</td>
				<td>
					@item.StartDay
				</td>
				<td>
					@item.StartMonth
				</td>
				<td>
					@item.EventDesc
				</td>
				<td>
					@item.Category
				</td>
				<td>
					@item.ContactPhone
				</td>
				<td>
					@item.ContactEmail
				</td>
				<td>
					@item.Location.LocationName
				</td>
				<td>
					<a asp-area="" asp-controller="Comments" asp-action="Index" asp-route-id="@item.EventId">View Comments</a>
				</td>
			</tr>
		}
	</tbody>


</table>

<p>
	<a asp-action="Create">Create New Public or Private Event</a>
</p>

<p>
	<a asp-action="CreateRsoEvent">Create New RSO Event</a>
</p>
