@model COP4710_V2.Models.Rso

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumMembers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumMembers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPending)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPending)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RsoAdmin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RsoAdmin.AdminId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RsoUniversity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RsoUniversity.UniName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RsoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
